<%- include("partials/header") -%>

<div class="innerText">
  <h1>About</h1>
  <p><%= about[0] %><a target="_blank" href="<%= about[1] %>"> Github </a><%= about[2] %></p>
  <p><%= about[3] %><a target="_blank" href="<%= about[4] %>"> Newsletter </a></p>
  <p><%= about[5] %><a target="_blank" href="<%= about[6] %>"> My Site</a></p>
</div>

<%- include("partials/footer") -%>
