<%- include("partials/header") -%>

<div class="innerText">
  <h1>Contact</h1>
  <p><%= contact[0] %><a target="_blank" href="mailto:tilothamdhanabal@gmail.com"<%=  %>"> E-mail </a>,<a target="_blank" href="<%= contact[1] %>"> Instagram </a>,<a target="_blank" href="<%= contact[2] %>"> Twitter </a>and<a target="_blank" href="<%= contact[3] %>"> Linkedin </a></p></div>

<%- include("partials/footer") -%>
